body {
    background-color: cadetblue;
    color: white;
    font-family: fantasy;

}
.cen {
    text-align: center;
}
.boda {
    border-radius: 25px;
    border-style: solid;
    border-width: medium;
    padding: 20px;

}
.dot {
    border-radius: 10px;
    border-style: dotted;
    border-width: medium;
    padding: 20px;
}
.blink {
    animation: blinker 2s linear infinite;
  }
  @keyframes blinker {
    0% { opacity: 0; }
  }
  @keyframes blin {
    0% { opacity: 0; }
  }